---
interface Props {
  href: string;
  image: string;
  altImage: string;
  title: string;
  desc: string;
}

const { href, image, altImage, title, desc } = Astro.props;
---

<a href={href} class="block">
  <img
    class="rounded-md shadow-md"
    src={image}
    width="100%"
    alt={altImage}
  />
  <h2 class="font-title text-center mt-4 mb-3 font-medium text-xl">
    {title}
  </h2>
  <p class="text-sm text-center">
    {desc}
  </p>
</a>
