---
import { Icon } from 'astro-icon/components'

interface Props {
  label: string
  href: string
  notBlank?: boolean
  leftIcon?: string
  rightIcon?: string
  role?: astroHTML.JSX.AriaRole
}

const {
  label,
  href,
  notBlank = false,
  leftIcon,
  rightIcon,
  role = 'link',
} = Astro.props
---

<a
  {href}
  target={notBlank ? '_self' : '_blank'}
  class="font-title font-medium no-animation btn btn-primary text-[#EFEFEF] shadow-md text-[18px]"
  {role}
>
  {
    leftIcon && (
      <Icon
        aria-hidden="true"
        name={leftIcon}
      />
    )
  }
  {label}
  {
    rightIcon && (
      <Icon
        aria-hidden="true"
        name={rightIcon}
      />
    )
  }
</a>

<style>
  .btn {
    min-height: 2.8rem;
    min-width: 140px;
    height: 2.8rem;
    padding: 0 18px;
  }
  [data-icon] {
    @apply block
    w-[18px];
  }
</style>
