---
import * as m from '@/paraglide/messages'
import { Icon } from 'astro-icon/components'
import { localizePathname } from '@/linking'
import { languageTag } from '@/paraglide/runtime'
import { Image } from 'astro:assets'
---

<div class="drawer">
  <input
    type="checkbox"
    id="open-menu"
    class="drawer-toggle"
  />
  <div class="drawer-content">
    <label
      aria-expanded="false"
      aria-label={m.sideMenuOpen()}
      for="open-menu"
    >
      <span class="sr-only">{m.sideMenuOpen()}</span>
      <Icon
        name="majesticons:menu"
        aria-hidden="true"
        class="btn btn-sm btn-link border-[.5px] border-neutral-200 p-2"
      />
    </label>
  </div>
  <div class="drawer-side">
    <label
      for="open-menu"
      aria-hidden="true"
      class="drawer-overlay"
    >
      <span class="sr-only">{m.sideMenuClose()}</span>
    </label>
    <div
      class="menu flex min-h-full w-80 flex-col justify-between gap-4 bg-[var(--color-base-400)] p-4"
    >
      <div>
        <span
          class="drawer-header mb-5 flex flex-col items-center justify-center"
        >
          <div class="self-end">
            <button
              class="btn btn-link btn-sm btn-circle"
              id="close-menu"
            >
              <Icon
                class="border-0!"
                aria-hidden="true"
                name="bi:x"
              />
            </button>
          </div>
          <Image
            aria-hidden="true"
            src="/favicon.svg"
            alt="Favicon Icon"
            loading="eager"
            fetchpriority="high"
            width="64"
            height="64"
          />
        </span>
        <ul class="flex flex-col gap-2">
          <li>
            <a
              id="focus-when-menu-opened"
              href={localizePathname('/', languageTag())}
              >{m.linkLabelHome()}</a
            >
          </li>
          <li>
            <a href={localizePathname('/projects', languageTag())}
              >{m.linkLabelProjects()}</a
            >
          </li>
          <li>
            <a
              href={localizePathname('/#contact', languageTag())}
              onclick="document.querySelector('.drawer-overlay').click()"
              >{m.linkLabelContact()}</a
            >
          </li>
        </ul>
      </div>

      <footer
        class="flex h-[60px] items-center justify-center text-xs font-light text-white"
      >
        <p>{m.siteCopy()}</p>
      </footer>
    </div>
  </div>
</div>

<style>
  svg {
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    color: white;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const closeMenu = document.querySelector('#close-menu') as HTMLButtonElement
    const openMenu = document.querySelector('#open-menu') as HTMLInputElement

    openMenu.checked = false

    openMenu.addEventListener('change', () => {
      openMenu.setAttribute(
        'aria-expanded',
        openMenu.checked ? 'true' : 'false',
      )
    })

    if (closeMenu) {
      closeMenu.addEventListener('click', () => {
        openMenu.checked = false
        openMenu.setAttribute('aria-expanded', 'false')
      })
    }
  })
</script>
