---
import * as m from '@/paraglide/messages'
import { Icon } from 'astro-icon/components'
import { localizePathname } from '@/linking'
import { languageTag } from '@/paraglide/runtime'
import { Image } from 'astro:assets'
---

<div class="drawer">
  <input
    role="button"
    type="checkbox"
    id="open-menu"
    aria-label={m.sideMenuOpen()}
    class="drawer-toggle"
    aria-expanded="false"
  />
  <div class="drawer-content">
    <label
      aria-hidden="true"
      for="open-menu"
      class="w-2"
    >
      <Icon
        name="majesticons:menu"
        class="btn btn-sm btn-link border-[.5px] border-neutral-200"
      />
    </label>
  </div>
  <div class="drawer-side">
    <label
      for="open-menu"
      class="drawer-overlay"
    ></label>
    <div
      class="menu p-4 w-80 min-h-full bg-[var(--color-base-400)] flex flex-col justify-between gap-4"
    >
      <div>
        <div
          class="drawer-header flex flex-col items-center justify-center mb-5"
        >
          <div class="self-end">
            <button
              class="btn btn-link btn-sm btn-circle"
              id="close-menu"
              aria-label={m.sideMenuClose()}
            >
              <Icon
                size="24"
                class="border-0!"
                name="bi:x"
              />
            </button>
          </div>
          <Image
            aria-hidden="true"
            src="/favicon.svg"
            alt=""
            width="64"
            height="64"
          />
        </div>
        <ul class="flex flex-col gap-2">
          <li>
            <a href={localizePathname('/', languageTag())}>{m.linkLabelHome}</a>
          </li>
          <li>
            <a href={localizePathname('/projects', languageTag())}
              >{m.linkLabelProjects}</a
            >
          </li>
          <li>
            <a href={localizePathname('/#contact', languageTag())}
              >{m.linkLabelContact}</a
            >
          </li>
        </ul>
      </div>

      <footer
        class="h-[60px] text-white flex justify-center items-center font-light"
      >
        <p>{m.siteCopy}</p>
      </footer>
    </div>
  </div>
</div>

<style>
  svg {
    height: 48px;
    width: 48px;
    border: 1px solid #fff;
    color: white;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const closeMenu = document.querySelector('#close-menu') as HTMLButtonElement
    const openMenu = document.querySelector('#open-menu') as HTMLInputElement

    openMenu.addEventListener('change', () => {
      openMenu.setAttribute(
        'aria-expanded',
        openMenu.checked ? 'true' : 'false',
      )
    })

    if (closeMenu) {
      closeMenu.addEventListener('click', () => {
        openMenu.checked = false
        openMenu.setAttribute('aria-expanded', 'false')
      })
    }
  })
</script>
