---
import SectionTitle from "../../components/SectionTitle.astro"
import CardPost from "../../components/projects/CardPost.astro"
import Layout from "../../layouts/Layout.astro"

import { getCollection } from "astro:content"
const posts = await getCollection("projects");
---

<Layout title="Projetos" desc='Projetos Drewdomi'>
  <SectionTitle title="Projetos" />
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-[40px]">
    {posts.map(post => (
      <CardPost
        href={`projects/${post.slug}`}
        cover={post.data.cover}
        altCover={post.data.altCover}
        title={post.data.title}
        desc={post.data.desc}
      />
    ))}
  </div>
</Layout>
