---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import * as m from '@/paraglide/messages'
import { languageTag } from '@/paraglide/runtime'
import '@fontsource/roboto-serif/400.css'
import '@fontsource/roboto-serif/500.css'
import '@fontsource/roboto/latin-300.css'
import '@fontsource/roboto/latin-400.css'
import '@fontsource/rubik/latin-400.css'
import '@fontsource/rubik/latin-500.css'
import { ClientRouter } from 'astro:transitions'
import '../styles/global.css'

Astro.response.headers.set('Cache-Control', 'public, max-age=3600')

interface Props {
  title?: string
  desc?: string
}

const { title = m.siteTitle(), desc = m.siteDesc() } = Astro.props
---

<!doctype html>
<!--

в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•— в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•— в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•—в–Ҳв–Ҳв•—    в–Ҳв–Ҳв•—  в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•—  в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•— в–Ҳв–Ҳв–Ҳв•—   в–Ҳв–Ҳв–Ҳв•—в–Ҳв–Ҳв•—
в–Ҳв–Ҳв•”в•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв•”в•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв•”в•җв•җв•җв•җв•қв–Ҳв–Ҳв•‘    в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•”в•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв•”в•җв•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв–Ҳв–Ҳв•— в–Ҳв–Ҳв–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘
в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•”в•қв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•—  в–Ҳв–Ҳв•‘ в–Ҳв•— в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘   в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•”в–Ҳв–Ҳв–Ҳв–Ҳв•”в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘
в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•”в•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв•”в•җв•җв•қ  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв–Ҳв•—в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘   в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘в•ҡв–Ҳв–Ҳв•”в•қв–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘
в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•”в•қв–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•—в•ҡв–Ҳв–Ҳв–Ҳв•”в–Ҳв–Ҳв–Ҳв•”в•қ  в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•”в•қв•ҡв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•”в•қв–Ҳв–Ҳв•‘ в•ҡв•җв•қ в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘
в•ҡв•җв•җв•җв•җв•җв•қ в•ҡв•җв•қ  в•ҡв•җв•қв•ҡв•җв•җв•җв•җв•җв•җв•қ в•ҡв•җв•җв•қв•ҡв•җв•җв•қ   в•ҡв•җв•җв•җв•җв•җв•қ  в•ҡв•җв•җв•җв•җв•җв•қ в•ҡв•җв•қ     в•ҡв•җв•қв•ҡв•җв•қ

You found me, thanks! -->
<html lang={languageTag()} data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={desc} />
    <meta name="author" content={m.aboutName()} />
    <meta name="generator" content={Astro.generator} />
    <meta name="copyright" content={m.aboutName()} />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta http-equiv="content-language" content={languageTag()} />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content={m.siteKeywords()} />
    <meta name="rating" content="general" />
    <meta name="theme-color" content="#005aad" />
    <meta name="color-scheme" content="dark" />
    <!-- Favicon and Icons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="128x128" href="/apple-touch-icon.png" />
    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content={m.aboutName()} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={m.siteUrl() + '/card.png'} />
    <meta property="og:image:alt" content="Drew Domi - Homepage" />
    <meta property="og:image:width" content="837" />
    <meta property="og:image:height" content="470" />
    <meta property="og:url" content={m.siteUrl()} />
    <meta property="og:description" content={desc} />
    <meta property="og:locale" content={languageTag().replace('-', '_')} />
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@drewdomi_" />
    <meta name="twitter:creator" content="@drewdomi_" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta name="twitter:image" content={m.siteUrl() + '/card.png'} />
    <meta name="twitter:image:alt" content="Drew Domi - Homepage" />
    <!-- LinkedIn -->
    <meta
      property="article:author"
      content="https://linkedin.com/in/drewdomi"
    />
    <!-- Canonical URL (important for SEO) -->
    <link rel="canonical" href={m.siteUrl()} />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main
      class="animate-downtop mx-auto mt-24 mb-8 min-h-[80vh] max-w-[678px] px-5"
    >
      <slot />
    </main>
    <Footer />
    <script is:inline async data-id="101458763" src="//static.getclicky.com/js"
    ></script>
  </body>
</html>
