---
import ScrollToTopBtn from '@/components/ScrollTopBtn.astro'
import Layout from '@/layouts/Layout.astro'
import { localizePathname } from '@/linking'
import * as m from '@/paraglide/messages'
import { languageTag } from '@/paraglide/runtime'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

type Props = CollectionEntry<'projects'>['data']
const { title, desc, cover, altCover, date, stacks, links } = Astro.props
---

<Layout
  {title}
  {desc}
>
  <section>
    <div class="pt-2">
      <Image
        class="rounded-md shadow-md"
        width="638"
        height="360"
        src={cover}
        alt={altCover}
        decoding="async"
        loading="lazy"
      />
    </div>
    <div class="breadcrumbs mt-3 mb-2 text-sm">
      <ul>
        <li>
          <a
            href={localizePathname('/projects', languageTag())}
            class="text-secondary gap-0.5"
          >
            {m.linkLabelProjects}
          </a>
        </li>
        <li class="font-title items-center text-xl font-medium">
          {title}
          <span class="badge badge-info ml-3 no-underline">{date}</span>
        </li>
      </ul>
    </div>
    <div class="pb-2">
      {
        stacks && (
          <p class="mb-2 overflow-x-auto whitespace-nowrap">
            <span class="badge badge-warning mr-1 ml-3">Stack</span>
            {stacks?.join(', ')}
          </p>
        )
      }
      {
        links &&
          links.map(l => (
            <p class="mb-2 flex gap-2">
              <span class={'badge mr-1 ml-3 ' + l.badgeClass}>
                {l.badgeLabel}
              </span>
              <a
                href={l.url}
                target="_blank"
                class="link flex items-center gap-2 no-underline hover:underline"
              >
                {l.urlLabel || l.url}
                <Icon
                  name={l.icon || 'bi:box-arrow-up-right'}
                  class="w-[14px]"
                />
              </a>
            </p>
          ))
      }
    </div>
    <div class="mb-16 text-justify">
      <slot />
    </div>
  </section>

  <ScrollToTopBtn />
</Layout>
